# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv
env/
venv/
ENV/

# Environment variables
.env

# Generated site
site/

# Hugging Face Spaces specific
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Binary files
*.png
*.jpg
*.jpeg
*.gif
app/static/images/maceijowka_aereal.png
app/static/images/maceijowka_map.png
